<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    
    @*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
    @*Styles.Render("~/Content/css")*@
 @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
 @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />

    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css"/>

    <style>
.span{
  margin:0px;
  padding:0px;
}
        </style>
</head>
<body class="container">
  <div class="container">
    
    @RenderBody()

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    
  </div>
</body>
</html>
